<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arithmetics -->
      <package
            uri="http://www.eclipse.org/Xtext/example/Arithmetics"
            class="emf.arithmetics.ArithmeticsPackage"
            genModel="model/arithmetics.genmodel"/>
   </extension>

</plugin>
